@tailwind base;
@tailwind components;
@tailwind utilities;

footer {
  font-size: 1rem;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

a:hover {
  text-decoration: underline;
}
